body {
  background-color:$base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y:hidden;
  transition:5s;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin:0; padding:0;
  color:$heading-font-color;
  transition:5s;
}  

h1, .h1 {
  font-size: $h1-font-size;
}

h2, .h2 {
  font-size: $h2-font-size;
}

h3, .h3 {
  font-size: $h3-font-size;
}

h4, .h4 {
  font-size: $h4-font-size;
}

h5, .h5 {
  font-size: $h5-font-size;
}

h6, .h6 {
  font-size: $h6-font-size;
}

p {
  margin: 0 0 $small-spacing;
  transition:color 5s;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 5s, opacity .5s;
  &:hover {
    opacity:0.55;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}


.text-center {
  text-align:center;
}

.text-right {
  text-align:right;
}

.text-left {
  text-align:left;
}